body {
    margin: 0;
    background-color: black;
   

}

h1 {
    color: white;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: white;
}

p {
    color: white;
    text-align: center;
}

.header {
    
    background-color: black;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav a {
    float: left;
    color: white;
    text-decoration: none;
    text-align: right;
    padding: 12px;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    text-transform: uppercase;
    
}

.nav a:hover {
    color: rgb(224, 11, 11);
}

a {
    float: left;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 12px;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    text-transform: uppercase;
}

a:hover {
    color: rgb(201, 6, 6);
}

#logo {
    display: inline-block;
    margin: 15px;
    float: left;
    height: 90px;
    width: auto;
    border-radius: 50%;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 50%;
}


.child:first-child {
    margin-right: 0px;
}




.section1, .section2, .section3, .section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}



img {
    height: auto;
    max-width: 100%;
}

.card {
    max-width: 50%;
}
