body {
    margin: 0;
    background-color: black;
   

}

ul, li {
    color:white;
}

h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
}

h2 {
    color: white;
    text-align: center;
    text-decoration: underline;
}

p {
    color: white;
    text-align: center;
}

.header {
    
    background-color: black;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav a {
    float: right;
    color: white;
    text-decoration: none;
    text-align: right;
    padding: 12px;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    text-transform: uppercase;
    
}

.nav a:hover {
    color: rgb(224, 11, 11);
}

a {
    float: left;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 12px;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    text-transform: uppercase;
}

a:hover {
    color: rgb(201, 6, 6);
}

#logo {
    display: inline-block;
    margin: 15px;
    float: left;
    height: 90px;
    width: auto;
    border-radius: 50%;
    border: none;
}

.hero {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    width: 50%;
}


.child:first-child {
    margin-right: 0px;
}




.section1, .section2, .section3, .section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}



img {
    height: auto;
    max-width: 100%;
    border: solid 6px white;
}

.card {
    max-width: 50%;
}

.copy {
    max-width: 300px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.charles {
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    max-width: 40%;
}
